#------ It's a full example of .env.** files ------#

#------ COMPOSE (required in .env for docker-compose up) ------#
DC_IMAGE_ZOOKEEPER=wurstmeister/zookeeper
DC_ZOOKEEPER_PORT=2181

DC_IMAGE_KAFKA=wurstmeister/kafka
DC_KAFKA_PORTS=9092:9092
DC_KAFKA_VOLUMES=/var/run/docker.sock:/var/run/docker.sock

DC_IMAGE_POSTGRES=postgres:12-alpine
DC_POSTGRES_HOST_PORT=5432
DC_POSTGRES_HOST=posgres
DC_POSTGRES_PORT=5432

#------ Microservice config (required in .env to run the app) ------#
MS_CFG_NAMESPACE=api
MS_CFG_LOGGER=true
MS_CFG_LOGLEVEL=debug
MS_CFG_LOGFORMATTER=default
#------ USE local api address to connect to kafka ------#
MS_CFG_TRANSPORTER=kafka://kafka:9092
MS_CFG_SERIALIZER=JSON
MS_CFG_REQUESTTIMEOUT=1000
MS_CFG_ENABLED=false
MS_CFG_RETRIES=5
MS_CFG_DELAY=100
MS_CFG_MAXDELAY=1000
MS_CFG_FACTOR=2
MS_CFG_MAXCALLLEVEL=100
MS_CFG_HEARTBEATINTERVAL=5
MS_CFG_HEARTBEATTIMEOUT=15
MS_CFG_SHUTDOWNTIMEOUT=5000
MS_CFG_CONCURRENCY=10
MS_CFG_MAXQUEUESIZE=100
MS_CFG_METRICS=false

#----- Moleculer tracing (Jaeger) options
MS_CFG_TRACING_JAEGER_HOST=10.126.100.135
MS_CFG_TRACING_JAEGER_PORT=6832

#------ Enable metrics ------#
MS_CFG_PROMETHEUS_ENABLED=false
MS_CFG_PROMETHEUS_COLLECT_INTERVAL=5
MS_CFG_PROMETHEUS_PORT=3001
MS_CFG_PROMETHEUS_HOST_PORT=3001
MS_CFG_PROMETHEUS_PATH=/metrics
MS_CFG_PROMETHEUS_NODE_JS_METRICS=moleculer.broker.namespace|moleculer.request.total|moleculer.request.error.total|moleculer.request.time|process.memory.rss|process.cpu.utilization|process.fs.read|process.fs.write
